.icon-btn {
  background-color: transparent;
  border: 0;
}
.accordion-header {
  background-color: transparent !important;
  padding: 0 !important;
  border-bottom: none !important;
}
.accordion-body {
  max-height: max-content !important;
}
