.icon-btn {
  background-color: transparent;
  border: 0;
}
.accordion-header1 {
  background-color: transparent !important;
  padding: 0 !important;
  border-bottom: none !important;
}
.accordion-body1 {
  max-height: max-content !important;
}

.footer-list {
  width: 22%;
}
.footer-list:nth-child(4) {
  width: 40%;
}
.footer-list:nth-child(4) > div {
  display: flex;
}
.footer-row {
  display: flex;
}
.linked-list {
  display: flex;
}
.count-val-wrapper {
  padding: 20px;
  justify-content: center;
  margin: auto;
  display: flex;
  border: 2px solid black;
}
.count {
  margin-right: 50px;
}
.count > div {
  margin-bottom: 30px;
}
